section.main
    div.container

        div.title
            h1 Капсульные коллекции
            span Обувь, которая восхищает и опережает тренды
            span Обувь EVIGI это высокое качество, максимальный комфорт и эксклюзивные модели обуви, вдохновленные современным пульсом времени.

        div.list
            div.collection
                img(src="images/webp/7.webp", alt="")
                h2 Winter energy
                div.text
                    span Лаконичные Мэри Джейн — актуальная и универсальная пара, которую дизайнеры выполнили из натуральной гладкой кожи черного цвета. Стильный ремешок t-strap на подъеме, комфортная гибкая подошва без каблука и закругленная носочная часть — отличительные черты модели. Ремешок регулируется по размеру и надежно фиксирует ногу. Туфли легко впишутся в любой гардероб и станут модной альтернативой лоферам или балеткам.
                a(href="category.html").button: pre В каталог
            div.collection
                img(src="images/webp/74.webp", alt="")
                h2 Winter energy
                div.text
                    span Лаконичные Мэри Джейн — актуальная и универсальная пара, которую дизайнеры выполнили из натуральной гладкой кожи черного цвета. Стильный ремешок t-strap на подъеме, комфортная гибкая подошва без каблука и закругленная носочная часть — отличительные черты модели. Ремешок регулируется по размеру и надежно фиксирует ногу. Туфли легко впишутся в любой гардероб и станут модной альтернативой лоферам или балеткам.
                a(href="category.html").button: pre В каталог
            div.collection
                img(src="images/webp/66.webp", alt="")
                h2 Winter energy
                div.text
                    span Лаконичные Мэри Джейн — актуальная и универсальная пара, которую дизайнеры выполнили из натуральной гладкой кожи черного цвета. Стильный ремешок t-strap на подъеме, комфортная гибкая подошва без каблука и закругленная носочная часть — отличительные черты модели. Ремешок регулируется по размеру и надежно фиксирует ногу. Туфли легко впишутся в любой гардероб и станут модной альтернативой лоферам или балеткам.
                a(href="category.html").button: pre В каталог
            div.collection
                img(src="images/webp/26.webp", alt="")
                h2 Winter energy
                div.text
                    span Лаконичные Мэри Джейн — актуальная и универсальная пара, которую дизайнеры выполнили из натуральной гладкой кожи черного цвета. Стильный ремешок t-strap на подъеме, комфортная гибкая подошва без каблука и закругленная носочная часть — отличительные черты модели. Ремешок регулируется по размеру и надежно фиксирует ногу. Туфли легко впишутся в любой гардероб и станут модной альтернативой лоферам или балеткам.
                a(href="category.html").button: pre В каталог
