include ../../common/_mixins.pug

section.collection
    h2 Новогодняя коллекция
    div.container
        div.intro
            img(src="images/webp/62.webp", alt="")
            span Лимитированная коллекция обуви и сумок Evigi для ваших коктейльных нарядов на Новый Год
        div.list
            +product('images/webp/52.webp', 'Ботфорты Sysia', '', '18 500 Р.', '22 300 P', '', colors=0, sizes=3)
            +product('images/webp/2.webp', 'Угги PONTI', '', '40 500 Р.', '', '', colors=0, sizes=2)
            +product('images/webp/27.webp', 'Туфли на шпильки', '', '12 300 Р.', '', 'New', colors=0, sizes=3)
            +product('images/webp/55.webp', 'Ботильоны', '', '28 800 Р.', '', '', colors=0, sizes=2)
