section.main
    div.container
        div.swiper.main
            div.swiper-wrapper
                div.swiper-slide
                    div.text
                        span ОСЕНЬ-ЗИМА
                        h1 2023
                        a(href="category.html").button: pre В каталог
                    img(src="images/webp/74.webp", alt="")
                div.swiper-slide
                    div.text
                        span ОСЕНЬ-ЗИМА
                        h1 2023
                        a(href="category.html").button: pre В каталог
                    img(src="images/webp/74.webp", alt="")
                div.swiper-slide
                    div.text
                        span ОСЕНЬ-ЗИМА
                        h1 2023
                        a(href="category.html").button: pre В каталог
                    img(src="images/webp/74.webp", alt="")
            div.swiper-pagination