section.mission
    div.container
        h2 Миссия компании
        div.image
            img(src="images/webp/1.webp", alt="")
        div.text
            strong Миссия. Качество. Страсть.
            span Мы поставили перед собой задачу создавать уникальные модели, чтобы ваш образ был неповторим!
            span Вдохновленные последними тенденциями #[br]и изготовленные из материалов высочайшего качества, каждое изделие призвано очаровать вас своим неотразимым оттенком роскоши.
            button: pre О компании