section.main
    div.container
        div.text
            span ОСЕНЬ-ЗИМА
            h1 WINTER ENERGY
            p Встречаем холодный сезон с новой линейкой зимней обуви WINTER ENERGY, которая станет гармоничным дополнением теплых встреч с друзьями, стильным вариантом подарка для себя или близких. Коллекция представлена тремя капсулами.
            a(href="category.html").button: pre В каталог
        img(src="images/webp/74.webp", alt="")
                