include ../../common/_mixins.pug

section.products

    h2 С товаром покупают

    div.list
        +product('images/webp/26.webp', 'Сапоги Force', 'Сапоги 2в1', '28 500 Р.', '', colors=2, sizes=3)
        +product('images/webp/48.webp', 'Туфли', 'Шелковые туфли', '40 500 Р.', '', colors=1, sizes=2)
        +product('images/webp/44.webp', 'Кеды ICEG', 'Кожанные кеды с натуральным мехом', '12 300 Р.', '', colors=1, sizes=4)
        +product('images/webp/58.webp', 'Туфли Force', 'ХИТ 2023 года', '28 800 Р.', 'New', colors=3, sizes=3)
        +product('images/webp/47.webp', 'Ботинки Punti', 'Cтильные ботинки на высокок платформе', '18 500 Р.', '', colors=2, sizes=3)
        +product('images/webp/59.webp', 'Туфли ANDY', 'Вечерние туфли на шпильке', '40 500 Р.', '', colors=3, sizes=4)
        +product('images/webp/57.webp', 'Сапоги ENDI', 'Высокие сапоги ', '12 300 Р.', 'New', colors=1, sizes=3)
        button.more
            pre Смотреть еще
