include ../common/_mixins.pug

section.categories
    div.container
        h2 Популярные категории
        div.swiper
            div.swiper-wrapper
                div.swiper-slide
                    +category('images/webp/54.webp', 'Ботинки')
                div.swiper-slide
                    +category('images/webp/52.webp', 'Ботфорты')
                div.swiper-slide
                    +category('images/webp/2.webp', 'Угги')
                div.swiper-slide
                    +category('images/webp/53.webp', 'Сапоги')
                div.swiper-slide
                    +category('images/webp/27.webp', 'Туфли')
                div.swiper-slide
                    +category('images/webp/55.webp', 'Ботильоны')