section.main
    div.container
        div.text
            span ОСЕНЬ-ЗИМА
            h1 SUMMER VIBE
            a(href="category.html").button: pre В каталог
        img(src="images/webp/7.webp", alt="")
                