section.summer_two.capsul
    div.container

        div.title
            h2 Summer two
            span Стильный ремешок t-strap на подъеме, комфортная гибкая подошва без каблука и закругленная носочная часть — отличительные черты модели. Ремешок регулируется по размеру и надежно фиксирует ногу. Туфли легко впишутся в любой гардероб и станут модной альтернативой лоферам.
        
        div.description
            img(src="images/webp/38.webp", alt="").first
            img(src="images/webp/35.webp", alt="").second
            span.text Стильный ремешок t-strap на подъеме, комфортная гибкая подошва без каблука и закругленная носочная часть — отличительные черты модели. Ремешок регулируется по размеру и надежно фиксирует ногу. Туфли легко впишутся в любой гардероб и станут модной альтернативой лоферам.
            div.swiper
                div.swiper-wrapper
                    div.swiper-slide: img(src="images/webp/39.webp", alt="")
                    div.swiper-slide: img(src="images/webp/39.webp", alt="")
                    div.swiper-slide: img(src="images/webp/39.webp", alt="")
                div.swiper-pagination

        div.description2
            div.swiper
                div.swiper-wrapper
                    div.swiper-slide: img(src="images/webp/36.webp", alt="")
                    div.swiper-slide: img(src="images/webp/36.webp", alt="")
                    div.swiper-slide: img(src="images/webp/36.webp", alt="")
                div.swiper-pagination
            img(src="images/webp/37.webp", alt="").first
            span.text Лаконичные Мэри Джейн — актуальная и универсальная пара, которую дизайнеры выполнили из натуральной гладкой кожи черного цвета. Стильный ремешок t-strap на подъеме, комфортная гибкая подошва без каблука и закругленная носочная часть — отличительные черты модели. Ремешок регулируется по размеру и надежно фиксирует ногу. Туфли легко впишутся в любой гардероб и станут модной альтернативой лоферам.

        div.products
            a(href="product.html").capsule_product
                img(src="images/webp/33.webp", alt="")
                div.text
                    strong Шелковые туфли
                    span.price 38 500 Р.
            div.video
                div.play.played
                    div(onclick="this.parentNode.nextElementSibling.pause(); this.parentNode.classList.remove('played')").overlay
                    div(onclick="this.parentNode.nextElementSibling.play(); this.parentNode.classList.add('played')").icon: img(src="images/svg/play.svg", alt="")
                video(poster="images/webp/34.webp", autoplay)
                    source(src="images/test.mp4", type="video/mp4")
            a(href="product.html").capsule_product
                img(src="images/webp/20.webp", alt="")
                div.text
                    strong Кеды с мехом
                    span.price 8 500 Р.