section.summer_three.capsul
    div.container

        div.video
            h2 Summer three
            span Лаконичные Мэри Джейн — актуальная и универсальная пара, которую дизайнеры выполнили из натуральной гладкой кожи черного цвета. Стильный ремешок t-strap на подъеме, комфортная гибкая подошва без каблука и закругленная носочная часть — отличительные черты модели. Ремешок регулируется по размеру и надежно фиксирует ногу. Туфли легко впишутся в любой гардероб и станут модной альтернативой лоферам.
            div.player
                div.play.played
                    div(onclick="this.parentNode.nextElementSibling.pause(); this.parentNode.classList.remove('played')").overlay
                    div(onclick="this.parentNode.nextElementSibling.play(); this.parentNode.classList.add('played')").icon: img(src="images/svg/play.svg", alt="")
                video(poster="images/test_preview.webp", autoplay, loop)
                    source(src="images/test.mp4", type="video/mp4")

        div.description
            img(src="images/webp/41.webp", alt="").first
            img(src="images/webp/40.webp", alt="").second
            span Встречаем холодный сезон с новой линейкой зимней обуви WINTER ENERGY, которая станет гармоничным дополнением теплых встреч с друзьями, стильным вариантом подарка для себя или близких. Коллекция представлена тремя капсулами.
        
        div.products
            span.text Лаконичные Мэри Джейн — актуальная и универсальная пара, которую дизайнеры выполнили из натуральной гладкой кожи черного и персикового цвета. 
            img(src="images/webp/35.webp", alt="").image
            a(href="product.html").capsule_product
                img(src="images/webp/33.webp", alt="")
                div.text
                    strong Кеды с мехом
                    span.price 8 500 Р.
            a(href="product.html").capsule_product
                img(src="images/webp/20.webp", alt="")
                div.text
                    strong Шелковые туфли
                    span.price 38 500 Р.
        button: pre В КАТАЛОГ
