extends common/_layout.pug

block links
    link(rel="stylesheet", href="css/capsul1.css")

block content
    include sections/capsul1/_main.pug
    include sections/capsul1/_winter_one.pug
    include sections/capsul1/_winter_two.pug
    include sections/capsul1/_winter_three.pug