extends common/_layout.pug

block links
    link(rel="stylesheet", href="css/capsul2.css")

block content
    include sections/capsul2/_main.pug
    include sections/capsul2/_summer_one.pug
    include sections/capsul2/_summer_two.pug
    include sections/capsul2/_summer_three.pug