dialog(data-modal-name="stock")
    div.container
        div(data-modal-close).cross
            include ../../../images/svg/cross.svg
        div.text
            span Для уточнения информации о наличии товара в магазине, напишите нам в WhatsApp или в Telegram
            a(href="tel:79257388886").phone +7 (925) 738 88 86

            div.socials
                a(href="index.html")
                    include ../../../images/svg/whatsapp.svg
                a(href="index.html")
                    include ../../../images/svg/telegram2.svg