footer
    div.container

        span.copyright © 2002–2023 #[br]Компания EVIGI.

        a(href="https://mwi.me/", target="blank").mwi
            include ../../images/svg/mwi.svg

        menu.first
            a(href="category.html").catalog: span Каталог
            a(href="index.html"): span О бренде

        a(href="index.html").logotype
            img(src="images/svg/logotype.svg", alt="")
            
        menu.second
            a(href="index.html"): span Покупателям
            a(href="index.html"): span Контакты

        div.socials
            a(href="index.html")
                include ../../images/svg/vk.svg 
            a(href="index.html")
                include ../../images/svg/instagram.svg
            a(href="index.html")
                include ../../images/svg/telegram.svg

        a(href="index.html").unknown
            include ../../images/svg/unknown.svg 

        