footer
    div.container

        span.copyright © 2002–2023 #[br]Компания EVIGI.

        a(href="https://mwi.me/", target="blank").mwi
            include ../../images/svg/mwi.svg

        menu.first
            a(href="category.html").catalog: span Каталог
            a(href="index.html"): span О бренде

        a(href="index.html").logotype
            img(src="images/svg/logotype.svg", alt="")
            
        menu.second
            a(href="index.html"): span Покупателям
            a(href="index.html"): span Контакты

        div.socials
            a(href="index.html")
                include ../../images/svg/vk.svg 
            a(href="index.html")
                include ../../images/svg/instagram.svg
            a(href="index.html")
                include ../../images/svg/telegram.svg

        a(href="index.html").unknown
            include ../../images/svg/unknown.svg 

        
div(onclick="this.classList.toggle('open')").w-mwi
    div(class="w-mwi__inner")
        div(class="w-mwi__buttons")
            div.main_button
                include ../../images/svg/unknown2.svg
            ul(class="w-mwi-buttons__button-icons__roller")
                li(class="w-mwi-buttons__button-tel")
                    a(href="#")
                        svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                            path(d="M29.3334 22.5595V26.5595C29.3349 26.9308 29.2589 27.2984 29.1101 27.6386C28.9613 27.9788 28.7431 28.2843 28.4695 28.5353C28.1959 28.7863 27.8728 28.9775 27.5211 29.0964C27.1693 29.2154 26.7966 29.2596 26.4267 29.2261C22.3239 28.7803 18.3827 27.3783 14.9201 25.1328C11.6985 23.0857 8.96719 20.3544 6.92007 17.1328C4.66671 13.6544 3.2644 9.69414 2.82674 5.57281C2.79342 5.2041 2.83724 4.83249 2.95541 4.48164C3.07357 4.1308 3.2635 3.8084 3.51309 3.53497C3.76269 3.26155 4.06648 3.04309 4.40513 2.89351C4.74378 2.74392 5.10986 2.66649 5.48007 2.66614H9.48007C10.1271 2.65978 10.7545 2.88892 11.2451 3.31086C11.7357 3.73279 12.0562 4.31874 12.1467 4.95948C12.3156 6.23957 12.6287 7.49645 13.0801 8.70615C13.2595 9.18338 13.2983 9.70203 13.1919 10.2007C13.0856 10.6993 12.8386 11.157 12.4801 11.5195L10.7867 13.2128C12.6848 16.5509 15.4487 19.3147 18.7867 21.2128L20.4801 19.5195C20.8426 19.161 21.3003 18.9139 21.7989 18.8076C22.2975 18.7013 22.8162 18.7401 23.2934 18.9195C24.5031 19.3709 25.76 19.684 27.0401 19.8528C27.6878 19.9442 28.2793 20.2704 28.7021 20.7695C29.125 21.2685 29.3496 21.9056 29.3334 22.5595Z", stroke="white", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                    div(class="w-mwi-buttons__button_info")
                        div(class="w-mwi-buttons__button_info_item", id="bx_1373509569_14052")
                            p Доставка, возврат и оплата:
                            a(href="tel:+78007001270") +7 (800) 700 12 70
                        div(class="w-mwi-buttons__button_info_item", id="bx_1373509569_14053")
                            p Консультация по товару, промокоды:
                            a(href="tel:+79257388886") +7 (925) 738 88 86
                        div(class="w-mwi-buttons__button_info_item", id="bx_1373509569_14054")
                            p Москва, ТРЦ Авиапарк, Универмаг Trend Island&amp;nbsp;2:
                            a(href="tel:+79255508829") +7 (925) 550 88 29
                        div(class="w-mwi-buttons__button_info_item", id="bx_1373509569_14055")
                            p Москва, ТРЦ Ривьера, Универмаг ТЕЛЕГРАФ:
                            a(href="tel:+79257388886") +7 (925) 738 88 86
                li(class="w-mwi-buttons__button-wa")
                    a(href="https://wapp.click/79257388886")
                        svg(width="40", height="40", viewBox="0 0 40 40", fill="none", xmlns="http://www.w3.org/2000/svg")
                            path(d="M31.7501 8.18408C30.2221 6.64063 28.4021 5.41686 26.3961 4.58417C24.3902 3.75147 22.2386 3.32652 20.0667 3.33408C10.9667 3.33408 3.55008 10.7507 3.55008 19.8507C3.55008 22.7674 4.31675 25.6008 5.75008 28.1008L3.41675 36.6674L12.1667 34.3674C14.5834 35.6841 17.3001 36.3841 20.0667 36.3841C29.1667 36.3841 36.5834 28.9674 36.5834 19.8674C36.5834 15.4507 34.8667 11.3007 31.7501 8.18408ZM20.0667 33.5841C17.6001 33.5841 15.1834 32.9174 13.0667 31.6674L12.5667 31.3674L7.36675 32.7341L8.75008 27.6674L8.41675 27.1508C7.04632 24.9624 6.31865 22.4328 6.31675 19.8507C6.31675 12.2841 12.4834 6.11742 20.0501 6.11742C23.7167 6.11742 27.1667 7.55075 29.7501 10.1508C31.0292 11.424 32.0429 12.9385 32.7324 14.6065C33.4219 16.2744 33.7735 18.0626 33.7667 19.8674C33.8001 27.4341 27.6334 33.5841 20.0667 33.5841ZM27.6001 23.3174C27.1834 23.1174 25.1501 22.1174 24.7834 21.9674C24.4001 21.8341 24.1334 21.7674 23.8501 22.1674C23.5667 22.5841 22.7834 23.5174 22.5501 23.7841C22.3167 24.0674 22.0667 24.1007 21.6501 23.8841C21.2334 23.6841 19.9001 23.2341 18.3334 21.8341C17.1001 20.7341 16.2834 19.3841 16.0334 18.9674C15.8001 18.5507 16.0001 18.3341 16.2167 18.1174C16.4001 17.9341 16.6334 17.6341 16.8334 17.4007C17.0334 17.1674 17.1167 16.9841 17.2501 16.7174C17.3834 16.4341 17.3167 16.2008 17.2167 16.0008C17.1167 15.8008 16.2834 13.7674 15.9501 12.9341C15.6167 12.1341 15.2667 12.2341 15.0167 12.2174H14.2167C13.9334 12.2174 13.5001 12.3174 13.1167 12.7341C12.7501 13.1507 11.6834 14.1508 11.6834 16.1841C11.6834 18.2174 13.1667 20.1841 13.3667 20.4507C13.5667 20.7341 16.2834 24.9007 20.4167 26.6841C21.4001 27.1174 22.1667 27.3674 22.7667 27.5508C23.7501 27.8674 24.6501 27.8174 25.3667 27.7174C26.1667 27.6007 27.8167 26.7174 28.1501 25.7507C28.5001 24.7841 28.5001 23.9674 28.3834 23.7841C28.2667 23.6007 28.0167 23.5174 27.6001 23.3174Z", fill="white")
                li(class="w-mwi-buttons__button-tg")
                    a(href="https://t.me/evigishoes")
                        svg(width="32", height="32", viewBox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                            g(clip-path="url(#clip0_419_364)")
                                path(d="M29.4022 2.83933L1.0517 13.8285C-0.0891702 14.3402 -0.475045 15.365 0.775955 15.9212L8.04908 18.2445L25.6346 7.32014C26.5948 6.63433 27.5778 6.8172 26.7319 7.57164L11.6283 21.3176L11.1539 27.1348C11.5933 28.033 12.398 28.0372 12.9112 27.5908L17.0898 23.6165L24.2464 29.0031C25.9086 29.9923 26.813 29.354 27.1706 27.541L31.8647 5.19914C32.3521 2.96758 31.521 1.98433 29.4022 2.83933Z", fill="white")
                            defs
                                clippath(id="clip0_419_364")
                                    rect(width="32", height="32", fill="white")