section.compilation
    div.container
        h2 Распродажа

        div.swiper
            div.swiper-wrapper
                div.swiper-slide
                    +product('images/webp/49.webp', 'Ботинки Force', '', '28 500 Р.', 'New', colors=0, sizes=3)(class='big')
                div.swiper-slide
                    +product('images/webp/50.webp', 'Туфли SEISO', '', '28 500 Р.', '', colors=0, sizes=4)(class='big')
                div.swiper-slide
                    +product('images/webp/51.webp', 'Ботинки Boni', '', '28 500 Р.', '', colors=0, sizes=5)(class='big')
                div.swiper-slide
                    +product('images/webp/19.webp', 'Ботинки Force', '', '28 500 Р.', '', colors=0, sizes=4)(class='big')
                div.swiper-slide
                    +product('images/webp/33.webp', 'Ботинки Force', '', '28 500 Р.', '', colors=0, sizes=3)(class='big')
                div.swiper-slide
                    +product('images/webp/49.webp', 'Ботинки Force', '', '28 500 Р.', '', colors=0, sizes=4)(class='big')
                div.swiper-slide
                    +product('images/webp/63.webp', 'Ботинки Force', '', '28 500 Р.', '', colors=0, sizes=3)(class='big')